.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.DisplayBar {
  text-align: left;
  background-color: #ffffff;
  height: 60px;
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.page {
  background-color: #f4f5f9;
  flex-grow: 1;
  overflow-y: auto; 
  padding: 20px;
}

.board {
  display: flex;
  gap: 50px;
}

.column {
  flex: 0 0 300px;
  display: flex;
  flex-direction: column;
}

.columnTitle {
  margin-bottom: 25px;
  font-size: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleLeft {
  display: flex;
  align-items: center;
  gap: 8px;
}

.titleLeft svg {
  width: 16px;
  height: 16px;
}

.colUtils {
  display: flex;
  gap: 8px;
}

.colUtils svg {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.ticketList {
  display: flex;
  flex-direction: column;
}

.numTickets {
  color: #7c7d81;
}